.dialog-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title-icon {
  color: #059669;
}

mat-dialog-content {
  padding: 20px 24px;
}
h2{
    color: black;
}
mat-dialog-actions {
  padding: 16px 24px;
}

.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 14px;
}

button[mat-raised-button] {
  min-width: 120px;
}

mat-error {
  font-size: 12px;
}
